<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/1226568128.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/layout.css"  type="text/css">
    <title>Home</title>
</head>
<body>
    
    <div class="container">

        <div class="wrapper">

            <%-body%>
    
        </div>

    </div>

</body>
</html>